name: Interface Tests

# This test builds and runs the Kanagawa interface tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build-linux:
    uses: ./.github/workflows/build-targets-template.yml
    with:
      build-targets: 'interface_tests'
      test-targets: 'run_interface_tests'
      cmake-build-type: 'RelWithDebInfo'
      runs-on: 'ubuntu-24.04'
      boost-platform-version: '24.04'

  build-linux-container:
    uses: ./.github/workflows/build-devcontainer-template.yml
    with:
      build-targets: 'interface_tests'
      test-targets: 'run_interface_tests'
      cmake-build-type: 'RelWithDebInfo'
